Repository giantswarm/cluster-test-suites, changes with the owners that CODEOWNERS names for each.
All owners: @giantswarm/team-tinkerers, @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket

Add tests to verify expected node counts
  common/common.go
Owners: @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket

Change function names
  common/common.go
Owners: @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket

Account for providers that only have replicas
  common/common.go
Owners: @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket

Change label matcher for CAPZ
  providers/capz/standard/capz_test.go
Owners: @giantswarm/team-clippy

Duplicate node tests
  common/common.go
  providers/capa/standard/capa_test.go
  providers/capvcd/standard/capvcd_test.go
  providers/capz/standard/capz_test.go
Owners: @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket

bump clustertest to 0.0.14
  common/common.go
  go.mod
  go.sum
  providers/capz/standard/capz_test.go
Owners: @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket, @giantswarm/team-tinkerers

CODEOWNERS:

# Main / Shared
* @giantswarm/team-tinkerers
/common @giantswarm/team-clippy @giantswarm/team-hydra @giantswarm/team-rocket

# Teams:
/providers/capz @giantswarm/team-clippy
/providers/capa @giantswarm/team-hydra
/providers/capvcd @giantswarm/team-rocket
/providers/capv @giantswarm/team-rocket

# Futureproofing
/providers/capo @giantswarm/team-rocket
/providers/capg @giantswarm/team-hydra
