Repository giantswarm/cluster-test-suites, changes with the owners that CODEOWNERS names for each.
All owners: @giantswarm/team-tinkerers, @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket

CODEOWNERS:

# Main / Shared
* @giantswarm/team-tinkerers
/common @giantswarm/team-clippy @giantswarm/team-hydra @giantswarm/team-rocket

# Teams:
/providers/capz @giantswarm/team-clippy
/providers/capa @giantswarm/team-hydra
/providers/capvcd @giantswarm/team-rocket
/providers/capv @giantswarm/team-rocket

# Futureproofing
/providers/capo @giantswarm/team-rocket
/providers/capg @giantswarm/team-hydra

Updated readme with instructions on adding tests
  CHANGELOG.md
  README.md
Owners: @giantswarm/team-tinkerers

Updated readme with instructions on adding tests (#11)
  CHANGELOG.md
  README.md
Owners: @giantswarm/team-tinkerers

WIP
  providers/capa/standard/capa_suite_test.go
Owners: @giantswarm/team-hydra

Add log
  providers/capa/standard/capa_suite_test.go
Owners: @giantswarm/team-hydra

Fix wrong function signature
  providers/capa/standard/capa_suite_test.go
Owners: @giantswarm/team-hydra

Use common package to set up ginkgo Context
  common/common.go
  providers/capa/standard/capa_test.go
  providers/capvcd/standard/capvcd_test.go
  providers/capz/standard/capz_test.go
Owners: @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket

Bump clustertest and gomega
  go.mod
  go.sum
Owners: @giantswarm/team-tinkerers

Revert "Use common package to set up ginkgo Context"
  common/common.go
  providers/capa/standard/capa_test.go
  providers/capvcd/standard/capvcd_test.go
  providers/capz/standard/capz_test.go
Owners: @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket

Do not set up Before/After Suite functions in entrypoint
  common/common.go
  providers/capa/standard/capa_suite_test.go
  providers/capa/standard/capa_test.go
  providers/capvcd/standard/capvcd_suite_test.go
  providers/capvcd/standard/capvcd_test.go
  providers/capz/standard/capz_suite_test.go
Owners: @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket

Update README and CHANGELOG
  CHANGELOG.md
  README.md
Owners: @giantswarm/team-tinkerers

Fix function signature everywhere this time
  providers/capvcd/standard/capvcd_suite_test.go
  providers/capz/standard/capz_suite_test.go
Owners: @giantswarm/team-rocket, @giantswarm/team-clippy

Align files
  .github/workflows/zz_generated.create_release.yaml
  .github/workflows/zz_generated.create_release_pr.yaml
  .github/workflows/zz_generated.gitleaks.yaml
  Makefile
  Makefile.gen.go.mk
Owners: @giantswarm/team-tinkerers

Align files (#13)
  .github/workflows/zz_generated.create_release.yaml
  .github/workflows/zz_generated.create_release_pr.yaml
  .github/workflows/zz_generated.gitleaks.yaml
  Makefile
  Makefile.gen.go.mk
Owners: @giantswarm/team-tinkerers

Run tests against an existing cluster (#12)
  CHANGELOG.md
  README.md
  common/common.go
  go.mod
  go.sum
  providers/capa/standard/capa_suite_test.go
  providers/capa/standard/capa_test.go
  providers/capvcd/standard/capvcd_suite_test.go
  providers/capvcd/standard/capvcd_test.go
  providers/capz/standard/capz_suite_test.go
  providers/capz/standard/capz_test.go
Owners: @giantswarm/team-tinkerers, @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket

Release v1.1.0
  CHANGELOG.md
Owners: @giantswarm/team-tinkerers

Release v1.1.0 (#14)
  CHANGELOG.md
Owners: @giantswarm/team-tinkerers

Add test checks all pods are running
  common/common.go
Owners: @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket

Move Consistent function to clustertest
  common/common.go
  go.mod
  go.sum
Owners: @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket, @giantswarm/team-tinkerers

Pend CAPVC suite
  providers/capvcd/standard/capvcd_test.go
Owners: @giantswarm/team-rocket

Pend CAPVC suite (#17)
  providers/capvcd/standard/capvcd_test.go
Owners: @giantswarm/team-rocket

Remove unfinished test
  common/common.go
Owners: @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket

Add test checks all pods are running (#15)
  common/common.go
  go.mod
  go.sum
Owners: @giantswarm/team-clippy, @giantswarm/team-hydra, @giantswarm/team-rocket, @giantswarm/team-tinkerers

Add CAPV provider
  .gitignore
  README.md
  providers/capv/standard/capv_suite_test.go
  providers/capv/standard/capv_test.go
  providers/capv/standard/test_data/cluster_values.yaml
  providers/capv/standard/test_data/default-apps_values.yaml
Owners: @giantswarm/team-tinkerers, @giantswarm/team-rocket

Align files
  .circleci/config.yml
  .github/workflows/zz_generated.create_release.yaml
  .github/workflows/zz_generated.create_release_pr.yaml
  .github/workflows/zz_generated.gitleaks.yaml
  Makefile
  Makefile.gen.go.mk
Owners: @giantswarm/team-tinkerers

Align files (#18)
  .circleci/config.yml
  .github/workflows/zz_generated.create_release.yaml
  .github/workflows/zz_generated.create_release_pr.yaml
  .github/workflows/zz_generated.gitleaks.yaml
  Makefile
  Makefile.gen.go.mk
Owners: @giantswarm/team-tinkerers

Wait for Org to finish deleting
  CHANGELOG.md
  go.mod
  go.sum
  providers/capa/standard/capa_suite_test.go
  providers/capvcd/standard/capvcd_suite_test.go
  providers/capz/standard/capz_suite_test.go
Owners: @giantswarm/team-tinkerers, @giantswarm/team-hydra, @giantswarm/team-rocket, @giantswarm/team-clippy

Added PR template
  .github/pull_request_template.md
Owners: @giantswarm/team-tinkerers

Increase ginkgo suite timeout and enable running subsequant suites on failure
  CHANGELOG.md
  entrypoint.sh
Owners: @giantswarm/team-tinkerers

Wait for Org to finish deleting (#20)
  .github/pull_request_template.md
  CHANGELOG.md
  entrypoint.sh
  go.mod
  go.sum
  providers/capa/standard/capa_suite_test.go
  providers/capvcd/standard/capvcd_suite_test.go
  providers/capz/standard/capz_suite_test.go
Owners: @giantswarm/team-tinkerers, @giantswarm/team-hydra, @giantswarm/team-rocket, @giantswarm/team-clippy

Release v1.2.0
  CHANGELOG.md
Owners: @giantswarm/team-tinkerers

Release v1.2.0 (#21)
  CHANGELOG.md
Owners: @giantswarm/team-tinkerers

Update providers/capv/standard/capv_suite_test.go
  providers/capv/standard/capv_suite_test.go
Owners: @giantswarm/team-rocket

Update providers/capv/standard/capv_suite_test.go
  providers/capv/standard/capv_suite_test.go
Owners: @giantswarm/team-rocket

Update cluster values & don't depend on fixed versions
  providers/capv/standard/capv_suite_test.go
  providers/capv/standard/test_data/cluster_values.yaml
Owners: @giantswarm/team-rocket

Add extraConfig for vsphere cluster app to handle docker.io pull limits
  go.mod
  go.sum
  providers/capv/standard/capv_suite_test.go
Owners: @giantswarm/team-tinkerers, @giantswarm/team-rocket

Add CAPV provider (#16)
  .gitignore
  README.md
  go.mod
  go.sum
  providers/capv/standard/capv_suite_test.go
  providers/capv/standard/capv_test.go
  providers/capv/standard/test_data/cluster_values.yaml
  providers/capv/standard/test_data/default-apps_values.yaml
Owners: @giantswarm/team-tinkerers, @giantswarm/team-rocket

bump ginkgo v2.9.2 -> v2.9.4
  CHANGELOG.md
  go.mod
  go.sum
Owners: @giantswarm/team-tinkerers

Release v1.3.0
  CHANGELOG.md
Owners: @giantswarm/team-tinkerers

bump ginkgo v2.9.2 -> v2.9.4 (#23)
  CHANGELOG.md
  go.mod
  go.sum
Owners: @giantswarm/team-tinkerers

Release v1.3.0 (#24)
  CHANGELOG.md
Owners: @giantswarm/team-tinkerers
